<!DOCTYPE html>
<html style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
<head>
  <title>BookStore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
</head>
    <body>
      <div id="wrapper">
        <%= render 'shared/sidebar' %>
        <div id="container"> 
          

          <%= yield %>
          
          
          <section class="section">
            <div class="container-fluid"> 
              <%= debug(params) if Rails.env.development? %>
            </div>
          </section> 


        </div><!-- /container -->	
      </div><!-- /wrapper -->	
    </body>
</html>
